{% comment %} div class="form-group">
                <label for="damageType" class="form-label">Damage Type</label>
                <select id="damageType" class="form-select">
                    <option value="Hail Damage">Hail Damage</option>
                    <option value="Flood Damage">Flood Damage</option>
                    <option value="Fire Damage">Fire Damage</option>
                    <option value="Collision Damage">Collision Damage</option>
                    <option value="Theft">Theft</option>
                    <option value="Vandalism">Vandalism</option>
                    <option value="Water Damage">Water Damage</option>
                    <option value="Storm Damage">Storm Damage</option>
                    <option value="Other">Other</option>
                </select>
            </div> {% endcomment %}



             {% comment %} <!-- Custom Damage Input -->
            <div id="customDamageGroup" class="form-group hidden">
                <label for="customDamage" class="form-label">Specify Damage Type</label>
                <input type="text" id="customDamage" class="form-input" placeholder="Enter specific damage type...">
            </div> {% endcomment %}